@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Создание заявки на регистрацию учреждения образования.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row mt-3">
                <div class="form-group col-md-6">
                    <label class="other_info" asp-for="Input.DirectorName"></label>
                    <input asp-for="Input.DirectorName" class="form-control" />
                    <span asp-validation-for="Input.DirectorName" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label class="other_info" asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label class="other_info" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label class="other_info" asp-for="Input.WebsiteLink"></label>
                    <input asp-for="Input.WebsiteLink" class="form-control" />
                    <span asp-validation-for="Input.WebsiteLink" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing" asp-for="Input.AcceptTermsOfAgreement">
                    <label class="custom-control-label" for="customControlAutosizing" asp-for="Input.AcceptTermsOfAgreement">@Html.DisplayNameFor(model => model.Input.AcceptTermsOfAgreement)</label>
                </div>

                <span asp-validation-for="Input.AcceptTermsOfAgreement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <p>
                    <a asp-page="./RegisterConfirmation" asp-route-id="-1">Уже вводили Email?</a>
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
