*, *::before, *::after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

.bg-light {
    background-color: #f9fbfd !important;
}

.bg-gradient-light-white {
    background-image: linear-gradient(180deg,#f9fbfd 0,#fff);
}

.card-shadow {
    box-shadow: 0 2rem 5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05) !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.vh-82 {
    min-height: 82vh;
}

.c-pointer {
    cursor: pointer;
}

label {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    max-height: 60px;
}

#preloader-block {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
}

.btn-primary-soft {
    background-color: rgba(51,94,234,.1);
    color: #335eea;
}

    .btn-primary-soft:hover {
        background-color: rgba(51,94,234,.15);
        color: #335eea;
    }

.bg-light {
    background-color: #f9fbfd !important;
}

.h-400px {
    height: 400px !important;
}

/*
    Journal - scroll table
*/
table {
    border-collapse: collapse;
}

.journal-table td {
    min-width: 66px;
    padding: 12px 16px;
    border: 1px solid #e8e9eb;
}

.cell {
    height: 49px;
    padding: 0 !important;
}

    .cell > button {
        height: 100%;
        width: 100%;
    }

.journal-table th {
    background-color: #007bff;
    color: white;
    border: 1px solid white;
}

.journal-tbody tr:hover {
    background: #e8f6ff;
}

.scroll-table, html {
    scrollbar-width: thin;
    scrollbar-color: #007bff hsla(0,0%,50.2%,.1);
}

html {
    overflow-x: hidden;
}

.scroll-table {
    overflow-x: auto;
}

.scroll-table::-webkit-scrollbar-thumb, html::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

.scroll-table::-webkit-scrollbar-thumb, html::-webkit-scrollbar-track {
    background: hsla(0,0%,50.2%,.1);
}

.scroll-table::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background-color: rgba(41,148,99,.75);
    border-radius: 5px;
    border: 3px solid hsla(0,0%,50.2%,.1);
}

/* Carousel */
.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel {
    padding: 0 70px;
}

.carousel .carousel-item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}

.carousel .carousel-item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.carousel .img-box img {
    width: auto;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
    font-size: 1rem;
}

.carousel .overview {
    font-style: italic;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #007bff;
}

.carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control-prev i, .carousel-control-next i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li, .carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 1px 3px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    max-width: 100% !important;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.institute_card_dropdown {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

    .institute_card_dropdown:hover {
        text-decoration: none;
        color: #fff;
    }

    .institute_card_dropdown > i {
        margin: auto;
    }

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: white;
    box-shadow: -3px -10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: -10px;
}

.card-menu {
    position: absolute;
    right: 15px;
    height: 50px;
    width: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -33px;
    color: white;
    background-color: #0084b4;
    margin-top: -30px;
}

    .card-menu > div {
        height: 100%;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }

    .card-menu > .dropdown > a {
        margin: auto;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body p {
    font-size: 1rem;
    margin: 10px 0;
}

.user {
    display: flex;
    margin-top: auto;
}

    .user img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

.user-info h5 {
    margin: 0;
    line-height: 40px;
}



/*
        Chat
*/

.search_chat {
    min-height: 56px;
}

    .search_chat > .wrapper {
        padding: .375rem 1rem .5rem .8125rem;
    }

    .search_chat i {
        position: absolute;
        top: .5rem;
        left: .75rem;
        font-size: 1.375rem;
    }

.custom-input {
    background-color: transparent !important;
    box-shadow: none !important;
    margin: 0;
    border: none !important;
    padding: 0;
}

#chat_search_input {
    height: 2.5rem;
    border-radius: 1.375rem;
    padding: 6px 41px 7px 43px;
}

.search_chat .search_input_block {
    position: relative;
    width: 100%;
    color: rgba(112, 117, 121, 0.5);
    background-color: rgb(244, 244, 245);
    border: 2px solid rgb(244, 244, 245);
    border-radius: 1.375rem;
    transition: border-color .15s ease;
    margin-left: .875rem;
}

.custom-scroll {
    scrollbar-color: rgba(90,90,90,0) transparent;
    pointer-events: auto;
}

    .custom-scroll:hover {
        scrollbar-color: rgba(90,90,90,.3) transparent;
    }

.list_chats_item {
    width: 100%;
}

.left_panel {
    min-width: 340px;
}

.list_chats_item_button {
    padding: .5625rem;
    cursor: pointer;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    overflow: hidden;
    line-height: 1.5rem;
    white-space: nowrap;
    border-radius: 0.75rem;
    font-size: 1rem;
}

    .list_chats_item_button:hover {
        background-color: #f4f4f5;
    }

    .list_chats_item_button .avatar {
        width: 3.375rem;
        height: 3.375rem;
    }

.circle_image {
    border-radius: 50%;
    margin-right: .5rem;
    flex: none;
    overflow: auto;
}

.avatar > img {
    width: 100%;
    height: 100%;
}

.selected > .list_chats_item_button {
    background-color: rgb(51,144,236);
    color: white;
}

.selected .sender_name, .selected .last_message {
    color: white;
}

.list_chats_item_button .info {
    flex-grow: 1;
    overflow: hidden;
}

.list_chats_item_button .title, .list_chats_item_button .subtitle {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.list_chats_item_button h3 {
    font-size: 1rem;
    line-height: 1.6875rem;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: initial;
}

.message_meta {
    margin-left: auto;
    margin-right: .2rem;
    padding: .3rem 0 .15rem;
    flex-shrink: 0;
    font-size: .75rem;
    line-height: 1;
    display: flex;
    align-items: center;
}

    .message_meta .time {
        color: var(--color-text-meta);
        line-height: 1.15rem;
    }

.info .subtitle {
    margin-top: -0.125rem;
}

.last_message {
    margin: 0;
    padding-right: .25rem;
    flex-grow: 1;
    color: #707579;
    max-width: 88%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sender_name {
    color: black;
}

.unread {
    transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    background: rgb(0,199,62);
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: .75rem;
    padding: 0 .4375rem;
    color: #fff;
    font-size: .875rem;
    line-height: 1.5625rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    right: 0;
}

.chat_footer {
    width: 100%;
    padding: 0 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    transform: translate3d(0, 0, 0);
    margin-bottom: 1.25rem;
}

#message-compose {
    flex-grow: 1;
    max-width: calc(100% - 4rem);
    background: #fff;
    border-radius: 0.75rem;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 2px #72727240;
    position: relative;
    z-index: 1;
}

.message_input_wrapper {
    display: flex;
}

.icon_button {
    color: #707579CC;
    flex-shrink: 0;
    background: none;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    line-height: 1.2;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: background-color .15s,color .15s;
    text-decoration: none;
    cursor: pointer;
}

#smileButton > i {
    font-size: 1.5rem;
}

#sendButton {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 5px;
}

    #sendButton:hover {
        background-color: rgb(51,144,236);
        color: white;
    }

.chat_body {
    flex: 1;
    width: 100%;
    margin-bottom: .5rem;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

    .chat_body > .message_container {
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 1rem 1rem 0 1.125rem;
    }

.owner {
    flex-direction: row-reverse;
}

.message_list_item {
    display: flex;
    align-items: flex-end;
    margin-bottom: .625rem;
    padding-left: 2.5rem;
    position: relative;
}

    .message_list_item > .avatar {
        margin-right: .3rem;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
        width: 2.125rem;
        height: 2.125rem;
    }

.owner .message_content {
    background: rgb(51,144,236);
    transform: scaleX(-1);
    color: white;
}

.owner .content_inner {
    transform: scaleX(-1);
}

.owner .send_date > .message_time {
    color: aliceblue;
}

.owner .svg_appendix {
    bottom: -0.01rem;
}

.owner .corner {
    fill: rgb(51,144,236);
}

.message_content {
    padding: .3125rem .5rem .575rem .8rem;
    background: white;
    box-shadow: 0 1px 2px rgba(144, 144, 144, 0.25);
    -moz-border-radius: 0.375rem 0.75rem 0.75rem 0;
    -webkit-border-radius: 0.375rem 0.75rem 0.75rem 0;
    border-radius: 0.375rem 0.75rem 0.75rem 0;
    position: relative;
    max-width: 29rem;
}

.content_inner {
    min-width: 0;
}

.svg_appendix {
    left: -0.562rem;
    overflow: hidden;
    position: absolute;
    bottom: -0.02rem;
    width: .5625rem;
    height: 1.125rem;
    font-size: 1rem !important;
}

.message_content .text_content {
    margin: 0;
    word-break: break-word;
    line-height: 1.3125;
}

.text_content > .send_date {
    position: relative;
    top: .375rem;
    bottom: auto !important;
    float: right;
    line-height: 1;
    height: 21px;
    margin-left: .4375rem;
    margin-right: -0.5rem;
    color: rgba(104, 108, 114, 0.75);
    background: none;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: .625rem;
    padding: 0 .25rem;
    max-width: 100%;
    user-select: none;
}

.send_date > .message_time {
    margin-inline-end: .1875rem;
    font-size: .75rem;
    white-space: nowrap;
}

.message_content .message_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25rem;
    unicode-bidi: plaintext;
    display: flex;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 600;
}

.other_person_color {
    color: darkorange;
}

.current_person_color {
    color: greenyellow;
}

.dropdown-toggle::after {
    content: initial !important;
}

.select_file_button {
    font-size: 24px;
    color: gray;
    border: none;
}

    .select_file_button, .select_file_button :hover {
        background: none;
    }

.dropdown-item {
    cursor: pointer;
}

.search_container {
    position: relative;
}

    .search_container:after {
        content: "";
        clear: both;
        display: table
    }

    .search_container form {
        width: auto;
        float: right;
    }

    .search_container input {
        width: 250px;
        height: 42px;
        padding: 0 40px 0 15px;
        padding-left: 15px;
        border-radius: 42px;
        border: 2px solid #324b4e;
        background: rgba(0, 0, 255, 0.1);
        outline: none;
        position: relative;
        transition: .3s linear;
    }

        .search_container input:focus {
            width: 300px;
        }

    .search_container i {
        text-align: center;
        width: 42px;
        background: none;
        border: none;
        position: absolute;
        top: 13px;
        right: 0;
    }

        .search_container i:before {
            color: #324b4e;
        }

    .search_container > #results {
        /*height: 50px;*/
        position: absolute;
        width: 100%;
        top: 42px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        background-color: white;
    }

#darkenedLayer {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 59px;
    bottom: 0;
    transition: opacity .2s ease-in;
    height: calc(100vh - 59px);
}

#results {
    z-index: 2;
    overflow: hidden;
}

.found_user {
    display: flex;
    align-items: center;
    position: relative;
}

    .found_user:hover {
        background: rgba(120, 120, 120, 0.2);
    }

    .found_user > .avatar {
        height: 40px;
        width: 40px;
        margin: 10px;
    }

    .found_user > .text_content {
        position: absolute;
        padding: 8px 0 10px 55px;
        width: 100%;
        left: 0;
        top: 0;
        -webkit-text-decoration: none;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        font-size: 14px;
        line-height: 20px;
    }

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
    background-color: #007bff;
}

    .btn-floating i {
        display: inline-block;
        width: inherit;
        color: #fff;
        text-align: center;
        font-size: 1.25rem;
        line-height: 47px;
    }

.add-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}

.waves-effect {
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/*=============================*/
/*========Item-Card============*/
/*=============================*/
.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .our_solution_category .solution_cards_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

    .solution_cards_box .solution_card:hover {
        background: #309df0;
        color: #fff;
        transform: scale(1.1);
        z-index: 9;
    }

        .solution_cards_box .solution_card:hover::before {
            background: rgb(85 108 214 / 10%);
        }

        .solution_cards_box .solution_card:hover .solu_title h3,
        .solution_cards_box .solution_card:hover .solu_description p {
            color: #fff;
        }

    .solution_cards_box .solution_card:before {
        content: "";
        position: absolute;
        background: rgb(85 108 214 / 5%);
        width: 170px;
        height: 400px;
        z-index: -1;
        transform: rotate(42deg);
        right: -56px;
        top: -23px;
        border-radius: 35px;
    }

    .solution_cards_box .solution_card:hover .solu_description a {
        background: #fff !important;
        color: #309df0;
    }

        .solution_cards_box .solution_card:hover .solu_description a:hover {
            text-decoration: none;
        }

.solu_title > h3, .solu_description > p {
    transition: none;
}

.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solution_card .solu_description a {
    border: 0;
    border-radius: 15px;
    background: linear-gradient( 140deg, #42c3ca 0%, #42c3ca 50%, #42c3cac7 75% ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.our_solution_content p {
}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }

    .our_solution_category {
        width: 50%;
        margin: 0 auto;
    }
}

.profile_img {
    height: 70px;
    width: 70px;
}

.profile_category_link {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

.profile_category_link i {
    font-size: 20px;
    position: absolute;
    top: 12px;
    width: 25px;
    text-align: center;
}

.profile_category_link .caption {
    padding-left: 30px;
}

.setting_card {
    /* border: 1px solid gray;
background-color: aliceblue;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;*/
}

.setting_card .rounded-circle {
    display: inline-block;
    width: 70px;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
}

.none_button {
    border: 0;
    background: none;
    outline: none;
}

#change_image:hover, .dropdown-menu:hover #change_image {
    opacity: 1;
}

.edit_photo {
    position: absolute;
    top: 0;
    height: 70px;
    width: 70px;
    margin: 0 15px;
}

#change_image {
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    font-weight: bold;
    font-size: 25px;
    opacity: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.other_info {
    font-weight: 400;
    color: #818c99;
    padding-top: 2px;
    font-size: 14px;
    line-height: 18px;
}

.other_info, .user_name {
    display: inline-block;
    margin: 0;
}

.dropdown-item:active, .dropdown-item:active > button {
    color: #fff !important;
}

.color_red {
    color: #dc3545 !important;
}

.modal-confirm {
    color: #434e65;
    width: 525px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
}

.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}

.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}

.material-icons {
    line-height: 30px;
}

.success_modal {
    border: 2px solid #47c9a2;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}


/*
    Error page
*/
.fundo {
    animation: scales 3s alternate infinite;
    transform-origin: center;
}

.pao-baixo {
    animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97) infinite;
    transform-origin: center;
}

.pao-cima {
    animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97) infinite;
    transform-origin: center;
}

.olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
}

.left-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 150px 156px;
}

.right-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 310px 150px;
}

.olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
}

@keyframes scales {
    from {
        transform: scale(0.98)
    }

    to {
        transform: scale(1)
    }
}

@keyframes rotatepao {
    0% {
        transform: rotate(0deg)
    }

    50%, 60% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes olhos {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(30deg);
    }
}

@keyframes left-sparks {
    0% {
        opacity: 0;
    }
}

.main {
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 4s alternate infinite;
}

@keyframes dash {
    0%, 30% {
        fill: #4B4B62;
        stroke-dashoffset: 0;
    }

    80%,100% {
        fill: transparent;
        stroke-dashoffset: -200;
    }
}

.hide-journal-container {
    padding: 0;
    position: relative;
}

.hide-journal-container > .hide-journal-button {
    position: absolute;
    height: 25px;
    width: 20px;
    padding: 0;
    top: 45%;
    z-index: 10;
    left: -10px;
    border-radius: 8px;
    color: white;
    font-size: 21px;
    line-height: 20px;
    background-color: #007bff;
}

.hide-journal-container > .hide-journal-button {
    position: absolute;
    height: 25px;
    width: 20px;
    padding: 0;
    top: 50%;
    z-index: 10;
    left: -10px;
    border-radius: 8px;
    color: white;
    font-size: 21px;
    line-height: 20px;
    background-color: #007bff;
    margin-top: 6px;
}

.doc-icon {
    position: absolute;
    top: -9px;
    left: 0;
}

.w-13 {
    width: 13px;
}

.back-lightgray {
    background-color: rgba(125, 125, 125, 0.1);
}