@{
    ViewData["Title"] = "Архив данных";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_Layout.cshtml";
}

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ваша учетная запись содержит личные данные, которые вы нам предоставили. На этой странице вы можете загрузить эти данные.</strong>
    </p>
    <div>
        <p>Удаление этих данных приведет к окончательному удалению вашей учетной записи, и восстановить их будет невозможно.</p>
        <form id="download-data" asp-action="DownloadPersonalData" method="post" class="form-group d-inline-block">
            <button class="btn btn-primary" type="submit">Скачать</button>
        </form>
        
        <a id="delete" asp-action="DeletePersonalData" class="btn btn-danger">Удалить</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
